body{
  background-color: rgb(234, 242, 250);
}

#svg{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  

  .input-fill{
    display: flex;
    /* width: 50%; */
    margin-top: 20px;
    margin-left: 24%;
    /* margin: auto; */
    /* align-items: center; */
    /* padding: 34px; */
  
  }
  .range{
    margin-right: 4%;
    font-weight: 300px;
  }
  #rangee{
    width: 200px;
    opacity: 1;
    cursor: pointer;
  }
  #rangee:hover{
    opacity: 2;
    background-color: black;
  }
  .fill{
    appearance: button;
    background-color: #406b80;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #0c0b0b;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px
  }
  
  .fill:after {
    background-clip: padding-box;
    background-color: #3a7c98;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .fill:main,
  .fill:focus {
    user-select: auto;
  }
  
  .fill:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
    cursor: pointer;
  }
  
  .fill:disabled {
    cursor: auto;
  }
  
  .fill:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    cursor: pointer;
  }
 
