body {
    font-family: "Lato", sans-serif;
  }
  
  .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    right: 0;
    background-color: #8e8a8a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30x;
  }
  #lists{
    margin-left: 20px;
    padding: 8px 8px 8px 32px;
    color:white;
  }
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff7f7;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #6b6969;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #e14545;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }
  li{
    margin:10px;
  }

  .header{
    display: flex;
    background-color: #6b6969;
  }
  #header-head{
      margin-left: 17%;
      color: white;
      text-shadow: 2px 2px 4px #000000;
  }
  
